<html>

<head>
<title>Julie Mallon</title>
<style>
th, td {
    padding: 10px;
}
</style>
</head>


<body>

<table> 
<colgroup>
  <col width="30%">
  <col width="70%">
</colgroup>

  <td align="left" valign="top"><img src="/Users/Julie/Pictures/UMD website pics/bfbo.JPG" width="300">
  </td>
  <td align="right" valight="top"
    <span style="font-size: 1.5em;">
      <p>|  <a href="index.html">Home</a>  | <a href="teaching.html">Teaching</a>  |  <a href="research.html">Research</a> | <a href="posts.html">Blog Posts</a> | <a href="cv.pdf">CV</a> |</p>
    </span>
  </td>
</table>
<hr>


</body>
</html>
